@model ClinicAdmin_web.Models.Patient

@{
    ViewData["Title"] = "Chi tiết bệnh nhân";
}

<h1>Chi tiết</h1>

<div>
    <h4>Bệnh nhân</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Cân nặng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            Tuổi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            Giới tính
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Về danh sách</a>
</div>
