@model ClinicAdmin_web.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExaminationFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExaminationFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
